<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style = 'background-color: black;'>
    <h1 style =  'color:purple'>Andy's Blog</h1>

    <hr>
    {% for post in posts reversed %}

    <!-- reversed is to show the post from latest to oldest -->
<article>
    <a href="/post/{{post.id}}" style = 'text-decoration: none; color: red;cursor: pointer;'>
        <h3 style="text-transform: uppercase;color:whitesmoke;">{{post.title}}</h3>
        <small style="color:white;">{{post.created_at}}</small>  
        <!-- |timesince -->
    
        <p style="color:goldenrod;">{{post.body|truncatewords:7}}</p>
    </a>
 
</article>

<hr>
{% endfor %}


</body>
</html>

